#dialogs {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#dialogs .background {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

#dialogs h1 {
    background: linear-gradient(#16568F, #4BB7E8);
    border: 2px solid #333333;
    border-bottom: 0;
    border-top: 0;
    color: #FFF;
    font-weight: normal;
    margin: 0;
    padding: 0.8em 0.8em 0.8em 1em;
}

#dialogs .close {
    background: linear-gradient(#333, #666);
    border: 2px solid #333;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #222;
    color: #ddd;
    cursor: pointer;
    float: right;
    font-size: 0.8em;
    margin-top: -4px;
    padding: 4px 7px 3px;
    position: relative;
    text-shadow: 2px 2px 2px #111;
    user-select: none;
}

#dialogs .close:hover {
    background: linear-gradient(#666, #333);
}

#dialogs .close:active {
    top: 1px;
}

#dialogs .content {
    background-color: white;
    border: 2px solid #333333;
    border-top: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 1em 0 1.5em 1em;
}

#dialogs .content .instructions {
    font-size: 0.85em;
    margin: 0;
    padding: 0;
}

#dialogs .content .instructions:last-of-type {
    margin-bottom: 1.5em;
}

#dialogs button {
    margin-left: 1.5em;
}

#dialogs .dialog {
    height: auto;
    margin: 0 5%;
    position: absolute;
    top: -200%;
    transition-property: top;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    width: 90%;
    z-index: 3;
}

#dialogs .dialog.displayed {
    top: 0;
}

#dialogs .dialog label {
    display: inline-block;
    margin-right: 1em;
}

#dialogs .dialog .option {
    margin: 0;
    padding-bottom: 1.5em;
}

#dialogs .dialog .message {
    margin-left: 1em;
    position: relative;
    top: 2px;
}

#dialogs .dialog .save.message {
    color: #3D6832;
}

#dialogs .dialog .delete.message {
    color: #BF3235;
}

/* ================================= */
/* --------- People dialog --------- */
/* ================================= */
#dialogs .people input[type=text] {
    width: 40%;
}

/* =================================== */
/* --------- Settings dialog --------- */
/* =================================== */
#dialogs .settings.firstTime .close {
    display: none;
}

#dialogs .settings .setting {
    margin-right: 1em;
    padding-bottom: 1em;
}

#dialogs .settings .setting:not(:first-of-type) {
    border-top: 1px solid #CCCCCC;
    padding-top: 1em;
}

#dialogs .settings #numFlights {
    width: 3em;
}

#dialogs .settings #slope {
    width: 4em;
}

/* ======================================== */
/* --------- Print preview dialog --------- */
/* ======================================== */
#dialogs .print {
    height: 100%;    
}

#dialogs .print h2 {
    margin: 0 0 0.2em;
    text-align: center;
    text-transform: uppercase;
}

#dialogs .print h2.date {
    margin-bottom: 1em;
}

#dialogs .print .content {
    padding-top: 4em;
}

#dialogs .print .tableheader {
    font-size: 1.4em;
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

#dialogs .print .flight {
    border: 0;
    border-collapse: collapse;
    margin: 0.75em auto 1.5em auto;
    padding: 0;
    width: 50%;
}

#dialogs .print .flight th,#dialogs .print .flight td {
    border: 0;
    padding: 0.1em 0.4em;
    text-align: left;
}

#dialogs .print .flight .number {
    text-align: right;
    width: 1em;
}

#dialogs .print .flight .index,#dialogs .print .flight .handicap {
    width: 4em;
}

#dialogs .print .actions {
    position: absolute;
    top: 4.5em;
    right: 1em;
}

/* ================================ */
/* --------- Email dialog --------- */
/* ================================ */
#dialogs .email #emailText {
    height: 20em;
    width: 95%;
}

#dialogs .email .actions {
    position: absolute;
    top: 4.5em;
    right: 1em;
}