body {
    font-family: Arial;
    margin: 0;
    overflow: hidden;
}

.hidden {
    display: none;
}

button {
    border-radius: 12px;
    box-shadow: 0px 2px 2px #666666;
    color: #F0F0F0;
    cursor: pointer;
    padding: 2px 8px 3px;
    position: relative;
    text-shadow: 2px 2px 3px #111111;
}

button:active {
    top: 1px;
}

button.delete {
    background: linear-gradient(#DF3336, #BF3235);
    border: 2px solid #952B2C;
}

button.delete:hover {
    background: linear-gradient(#BF3235, #DF3336);
}

button.add,button.save {
    background: linear-gradient(#5D9C46, #3D6832);
    border: 2px solid #225726;
}

button.add:hover,button.save:hover {
    background: linear-gradient(#3D6832, #5D9C46);
}

#version {
    font-size: 0.7em;
    position: absolute;
    right: 1em;
    top: 1.2em;
}

#main {
    margin-left: 2em;
}

#main .dates {
    float: left;
    margin-top: 2.5em;
    width: 11em;
}

#main .dates h1 {
    background: linear-gradient(#99D2E8, #2BB6ED);
    border: 1px solid #212121;
    border-radius: 10px 10px 0 0;
    color: #333;
    font-size: 20px;
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #E1E1E1;
}

#main .dates .dateList {
    border: 1px solid #212121;
    border-radius: 0 0 14px 14px;
    border-top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#main .dates .dateList li {
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.1em 0 0.1em 0.5em;
    user-select: none;
}

#main .dates .dateList li:hover {
    color: #4c9335;
}

#main .dates .dateList li.selected {
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

#main .dates .dateList li:first-of-type {
    padding-top: 0.2em;
}

#main .dates .dateList li:last-of-type {
    padding-bottom: 0.2em;
    border-radius: 0 0 10px 10px;
}

#main .dates .actions {
    border: 1px solid #212121;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    display: none;
    padding: 1em 0.6em;
    text-align: right;
    padding: 1em 0.6em;
}

#main .dates .actions button {
    margin-left: 0.6em;
}

#main .scores {
    float: left;
    margin: 2.5em 0 0 2em;
    width: 60%;
}

#main .scores .tableheader {
    background: -moz-linear-gradient(#99D2E8, #2BB6ED);
    border: 1px solid #212121;
    border-bottom: 1px;
    border-radius: 10px 10px 0 0;
    color: #333;
    font-size: 20px;
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #E1E1E1;
}

#main .scores .people {
    border-collapse: collapse;
    border-top: 1px solid #212121;
    border-left: 1px solid #212121;
    width: 100%;
}

#main .scores .people th {
    background: linear-gradient(#2BB6ED, #99D2E8);
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
    color: #333;
    font-size: 1.2em;
    padding: 5px 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #E1E1E1;
}

#main .scores .people td {
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;
    padding: 4px 8px 5px;
    text-align: left;
}

#main .scores .people .handicap {
    width: 4em;
}

#main .scores .people .index {
    width: 3em;
}