#main,#menu {
    display: none;
}


#dialogs .background {
    background-color: white;
    opacity: 1;
}

#dialogs .print.dialog {
    height: 100%;
    margin: 0;
    width: 100%;
}

#dialogs .print.dialog h1 {
    display: none;
}

#dialogs .print.dialog .date {

}

#dialogs .print.dialog .content {
    border: 0;
    font-size: 0.75em;
    padding-top: 0;
}

#dialogs .print .tableheader {
}

#dialogs .print.dialog .flight {
    font-size: 1em;
    margin: 0.3em 2em 1.25em 0;
    width: 70%;
}

#dialogs .print.dialog .flight th,#dialogs .print .flight td {
    padding: 0.2em;
}

#dialogs .print .flight .index,#dialogs .print .flight .handicap {
}

#dialogs .print.dialog .actions {
    display: none;
}